.FixedMenu {
  margin-bottom: 0 !important;
  max-width: 1920px;
  left: auto !important;
}

.SignUpButton {
  margin-left: 0.5em !important;
}

.LoginButton {
  margin-left: 2em !important;
  z-index: 100;
}

.CenteredContent {
  align-self: center !important;
}

.CorrectBorder {
  border-width: 0 !important;
  border-bottom: 0 !important;
}

.Color {
  background: center !important;
}
