.Carousel {
  margin-top: 8em;
  background-color: rgba(240, 240, 240, 0.7);
}

.Description {
  padding: 3em;
}

.Name {
  font-size: 1.33em !important;
}

.IconLeft {
  position: absolute;
  top: 10px;
  left: 10px;
}

.IconRight {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.Span {
  position: relative;
}
